# Python bytecode/cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/
env/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Build / dist
dist/
build/
*.egg-info/
pip-wheel-metadata/

# Tests / Coverage / Typing
.pytest_cache/
.mypy_cache/
.coverage*
htmlcov/

# Env & secrets (asla commit etme)
.env
*.pem
*.key
*.crt

# Logs
*.log
